services:
  web:
    build: .
    restart: always
    labels:
      traefik.enable: true
      traefik.http.routers.harshal-sheth-io.rule: Host(`harshal.sheth.io`)
      traefik.http.routers.harshal-sheth-io.tls: true
      traefik.http.routers.harshal-sheth-io.middlewares: SecureTLS
      com.centurylinklabs.watchtower.enable: "false"
    networks:
      - traefik
      - default
  alternate:
    image: schmunk42/nginx-redirect
    restart: always
    environment:
      SERVER_REDIRECT: harshal.sheth.io
    labels:
      traefik.enable: true
      traefik.http.routers.harshal-sheth-alternate.rule: Host(`sheth.io`) || Host(`www.sheth.io`)
      traefik.http.routers.harshal-sheth-alternate.tls: true
      traefik.http.routers.harshal-sheth-alternate.middlewares: SecureTLS
    networks:
      - traefik
      - default

networks:
  traefik:
    external: true
